<a href="https://colab.research.google.com/github/ViniciusNogozzeky/BigDataAulas/blob/main/Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#função que calcula o quadrado de um número
def square(x):
  return x*x

In [4]:
square(10)

100

In [5]:
# mesma função utilizando o conceito de fuções lambda
square_lambda = lambda x: x * x

In [6]:
square_lambda(10)

100

In [9]:
#Função que filtra uma lista e retorna somentes valores pares
#tradicional
def filtra_pares(numeros):
  pares = []
  for x in numeros:
    if x % 2 == 0:
      pares.append(x)
  return pares

In [10]:
numeros = [0, 1, 2, 3, 4, 5, 6, 7]
filtra_pares(numeros)

[0, 2, 4, 6]

In [12]:
#Utilizando função lambda
pares = list(filter(lambda x: x % 2 == 0, numeros))
pares

[0, 2, 4, 6]

In [15]:
quadrado = list(map(lambda x: x * x, numeros))

In [14]:
quadrado

[0, 1, 4, 9, 16, 25, 36, 49]

In [19]:
class Person:
  #Construtor da classe
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
#Método que formata o print do objeto
  def __str__(self):
    return f'Name: {self.name} Age: {self.age}'

In [20]:
print(Person("Vinicius" , 19))

Name: Vinicius Age: 19

In [21]:
#Cria lista com 3 pessoas 
pessoas = [Person("Vinicius" , 19), Person("Leonardo", 24), Person("Pedro", 20)]

In [23]:
for p in pessoas:
  print(p)

Name: Vinicius Age: 19
Name: Leonardo Age: 24
Name: Pedro Age: 20

In [ ]:
#Incrementa em 1 a idade de todas as pessoas da lista
pessoas = list(map(lambda p: Person(p.name, p.age + 1), pessoas))
for p in pessoas:
  print(p)

In [27]:
#Retorna somente a pessoas com idade maior que 20 anos
maiores = list(filter(lambda p: p.age > 20, pessoas))
for p in maiores:
  print(p)

Name: Leonardo Age: 25
Name: Pedro Age: 21

In [31]:
#soma a idade de todos as pessoas
from functools import reduce
soma_idade = reduce(lambda x,y: x + y, map(lambda x: x.age, pessoas))
soma_idade

46

In [34]:
#Retornar a maior idade
maior_idade = reduce(lambda x,y : x if x > y  else y, map(lambda x: x.age, pessoas))
maior_idade

25

INSTALAÇÃO DO PYSPARK

In [35]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 50.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=abea3fb7a7fdbd6a8d3e52727a0bcdcb79deb361fc25cfa66d582dec5e07f850
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [38]:
#Importar bibliotecas
import pyspark
from pyspark.sql import SparkSession

In [39]:
#Criação de uma sessão Spark(caso ela não exista) ou recuperação de uma 
#sessão existente com o mesmo nome
spark = SparkSession.builder.appName("Word Count").master('local[*]').getOrCreate()

In [40]:
#Criação do contexto
sc = spark.sparkContext

In [63]:
#Criação de um RDD que carrega o arquivo Seinfeld.txt
rdd = sc.textFile("/content/sample_data/Seinfeld.txt")

In [ ]:
#Visualizar um rdd
rdd.collect()

In [65]:
lista = rdd.collect()

In [ ]:
lista[30]

In [ ]:
#Transformar cada linha(i.e., cada item da lista) em um conjunto de palavras
#a partir do split do texto em espaço
palavras = rdd.flatMap(lambda x: x.split(" "))

#mostrar os primeiros N items
palavras.take(30)

In [78]:
palavras = rdd.flatMap(lambda x: x.lower().replace(".", "").replace("(","").replace(")","").split(" "))
palavras.take(30)

['int',
 'comedy',
 'club',
 '–',
 'night',
 'jerry',
 'is',
 'on',
 'stage,',
 'performing',
 'jerry:',
 'do',
 'you',
 'know',
 'what',
 'this',
 'is',
 'all',
 'about?',
 'do',
 'you',
 'know,',
 'why',
 "we're",
 'here?',
 'to',
 'be',
 'out,',
 'this',
 'is']

In [79]:
palavras.count()

723895

In [80]:
#Remover itens vazios
palavras = palavras.filter(lambda x:x!="")
palavras.count()

722738

In [ ]:
#Contar o número de ocorrências de cada palavra
contagem = palavras.countByValue()
contagem

In [ ]:
#Imprimir as palavras e contagem de maneira ordenada
for p, c in sorted(contagem.items()):
  print(f"{p}: {c}")

ATIVIDADE - US AIRPORTS
Contagem do número de aeroportos dos USA

In [ ]:
rdd = sc.textFile("/content/sample_data/Airports.csv")
rdd.take(5)

In [ ]:
#Ignorar o cabeçalho
rdd = rdd.filter(lambda x: x.split(",")[0]!='icao_code')
rdd.take(5)

In [87]:
#Seleciona as linhas que possuem USA na coluna D
rdd_usa = rdd.filter(lambda x: x.split(",")[4]=="USA")
rdd_usa.take(5)

['KABI,ABI,ABILENE RGNL,ABILENE,USA,32,24,40,N,99,40,54,W,546,32.411,-99.682,3381',
 'KABQ,ABQ,N/A,ALBUQUERQUE,USA,0,0,0,U,0,0,0,U,0,0,0,3382',
 'KACK,ACK,NANTUCKET MEM,NANTUCKET,USA,41,15,10,N,70,3,36,W,15,41.253,-70.06,3383',
 'KACT,ACT,WACO RGNL,WACO,USA,31,36,40,N,97,13,49,W,158,31.611,-97.23,3384',
 'KACY,ACY,ATLANTIC CITY INTERNATIONAL,ATLANTIC CITY,USA,39,27,27,N,74,34,37,W,23,39.458,-74.577,3385']

In [88]:
rdd_usa.count()

552

In [91]:
rdd_usa.coalesce(1).saveAsTextFile('RDD_USA_unique.txt')